

@media(min-width:768px) {
	.side-nav {
		position: fixed;
		top: 56px;
		width: 225px;
		margin-left: -225px;
		border: initial;
		background-color: #28a745;
		bottom: 0;
		/*padding-bottom: 40px;*/
	}
}

bode{height:100%}

.row {
	height:170px;
}

	.row:not(:last-child) {
		border-bottom: 2px solid #90b99e;
	}

#main.row
{
	height:430px;
}


